23. Given a DataFrame of numeric values, say

df = pd.DataFrame(np.random.random(size=(5, 3))) # a 5x3 frame of float values

how do you subtract the row mean from each element in the row?

In [5]:
df = pd.DataFrame(np.random.random(size=(5, 3))) # a 5x3 frame of float values

# I spent far too long on this one, I need to be vigilant about my time usage!
# This is my old train-of-thought

#print(df)
#print(df[0] - pd.DataFrame.mean(df[0]))
#rowmean = pd.DataFrame.mean(df, axis=1)
#df[3] = rowmean
#pd.DataFrame.insert(555,"means",rowmean)
#result = (df - df[3])
#print(df.subtract(rowmean))
#print(rowmean)

# And this was all I needed!
df.sub(df.mean(axis=1), axis=0)

          0         1         2
0  0.187310 -0.098615 -0.088695
1  0.215850 -0.391538  0.175688
2  0.068426 -0.128087  0.059661
3  0.474848 -0.166091 -0.308757
4 -0.235097  0.261354 -0.026258

24. Suppose you have DataFrame with 10 columns of real numbers, for example:

df = pd.DataFrame(np.random.random(size=(5, 10)), columns=list('abcdefghij'))

Which column of numbers has the smallest sum? (Find that column's label.)

In [6]:
# This one also took me a long time, It's probably a bit lengthy but:
# Calculate the sums
# Find the smallest one
# Find the index of the cell with the smallest sum

df = pd.DataFrame(np.random.random(size=(5, 10)), columns=list('abcdefghij'))
print(df)
#print(df.min())
#print(df.min().sum())

#print(df.sum())
#print(df.sum().min())

sums = df.sum()
minsum = min(sums)

print(sums)
print(minsum)

sums[sums == minsum].index

          a         b         c         d         e         f         g  \
0  0.994160  0.877147  0.231513  0.770083  0.293279  0.020310  0.301783
1  0.157807  0.139098  0.337490  0.242500  0.533837  0.021106  0.042682
2  0.240196  0.036125  0.839275  0.452847  0.686348  0.296512  0.164477
3  0.850895  0.003284  0.157492  0.799607  0.304326  0.821742  0.272288
4  0.205541  0.023179  0.083602  0.173915  0.350734  0.624379  0.003256

          h         i         j
0  0.047414  0.287387  0.722131
1  0.727453  0.253549  0.607817
2  0.629252  0.118292  0.283725
3  0.637678  0.289359  0.610489
4  0.038941  0.657409  0.106334
a    2.448599
b    1.078833
c    1.649372
d    2.438952
e    2.168524
f    1.784049
g    0.784485
h    2.080737
i    1.605997
j    2.330495
dtype: float64
0.7844854917877169

Index(['g'], dtype='object')