26. You have a DataFrame that consists of 10 columns of floating--point numbers. Suppose that exactly 5 entries in each row are NaN values. For each row of the DataFrame, find the column which contains the third NaN value.

(You should return a Series of column labels. Try not to use .iterrows())

In [7]:
# I apologise for this code, if you have a more concise version please let me know in the feedback!
import numpy as np
import pandas as pd
data = {
1:[np.nan,2,np.nan,4,5],
2:[np.nan,2,3,np.nan,5],
3:[np.nan,2,np.nan,4,5],
4:[1,np.nan,3,np.nan,np.nan],
5:[1,2,np.nan,4,5],
6:[1,np.nan,3,np.nan,np.nan],
7:[1,2,3,4,5],
8:[1,np.nan,3,np.nan,np.nan],
9:[1,2,3,4,np.nan],
10:[1,np.nan,3,4,5]}

df = pd.DataFrame(data)
#print(df)

# First, I find out what values are null
nans = df.isnull()
#print(nans)

# Then convert True/False to 1/0
nans = nans[:] + 0
#print(nans)

# Then replace the value with the cumulative sum
nans = nans.cumsum(axis=1)
#print(nans)

# As each "True" adds 1 to the cumulative sum, we now only care about finding a "3"
nans = nans[nans[:] == 3]
#print(nans)

# dataframe.idxmax() returns the first occurence of a maximum value, which in our case is 3
labels = nans.idxmax(axis=1, skipna=True)

# Finally, display the columns containing the 3rd occurence of NaN
print("")
print("Results: ")
print(labels)

Results:
0    3
1    8
2    5
3    6
4    8
dtype: int64

**27.** A DataFrame has a column of groups 'grps' and and column of numbers 'vals'. For example: 

```python
df = pd.DataFrame({'grps': list('aaabbcaabcccbbc'), 
                   'vals': [12,345,3,1,45,14,4,52,54,23,235,21,57,3,87]})
```
For each *group*, find the sum of the three greatest values.

In [8]:
# Initialising
df = pd.DataFrame({'grps': list('aaabbcaabcccbbc'), 'vals': [12,345,3,1,45,14,4,52,54,23,235,21,57,3,87]})

# Sorting was helpful for debugging, but ultimately not necessary for the program
#df = df.sort_values(["grps","vals"], ascending = [True, False])

# All the unique groups - there must be a way to split up the dataframe using this
# but due to time constraints I will do this the ugly way.
groups = df["grps"].unique()

# Build all the groups we need manually
group_a = df[df["grps"] == "a"]
group_b = df[df["grps"] == "b"]
group_c = df[df["grps"] == "c"]

# Find the sum of the 3 largest numbers of each of those groups
sum_a = group_a["vals"].nlargest(3).sum()
sum_b = group_b["vals"].nlargest(3).sum()
sum_c = group_c["vals"].nlargest(3).sum()

# Store them
sums = [sum_a,sum_b,sum_c]

# Present the results
results = pd.DataFrame(data=sums, index = groups)
results

# I'm almost certain there's a beatiful pandas way of 
# doing this in about 2 lines of code somewhere on the internet,
# If you something more concise that this please let me know in the feedback!

     0
a  409
b  156
c  345