In [5]:
import pandas as pd
import numpy as np
data = {'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
        'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
        'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']


df = pd.DataFrame(data, index=labels)

#df

**13.** Change the age in row 'f' to 1.5.

In [6]:
# Using slices can cause problems as you would assign changes to a copy rather than the actual data
# .at allows you to get around that
df.at["f","age"] = 1.5


df

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no
d    dog  NaN       3      yes
e    dog  5.0       2       no
f    cat  1.5       3       no
g  snake  4.5       1       no
h    cat  NaN       1      yes
i    dog  7.0       2       no
j    dog  3.0       1       no

15. Calculate the mean age for each different animal in df.

In [9]:
# I tried a couple of different ways of doing this, but combining .method()s seemed to be the simplest
#df.animal.unique()
#df.animal.value_counts()

animal_means = df.groupby("animal").mean().age
print(animal_means)

animal
cat      2.333333
dog      5.000000
snake    2.500000
Name: age, dtype: float64